body,html {
    font-size: 110%;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* calendar styles */
.toolbar {
    display: flex;
}

.navDateRange {
    flex: 4;
}

.navBtn {
    flex: 1;
    display: inline-flex;
}

#todayBtn {
    margin-right: 5%;
}

.navBtn {
    font-size: 23px;
}

button {
    height: 50px;
}
#leftArrowBtn, #rightArrowBtn {
    padding: 2px;
    width: 50px;
}


#nav-staff {
    display: none;
}

.sticky {
    position: sticky;
    white-space: nowrap;
    top: 0;
    width: 100%;

}

#nav-tab {
    padding-top: 2%;
    padding-left: 2%;
    background-color: #212121;
    z-index: 2;
}

#nav-tabContent {
    z-index: 2;
}

#nav-timeClockSheet {
    padding: 2%;
}

#nav-add {
    padding-top: 2%;
}

/* display clock in data */
.weekDisplay {
    position: relative;
}
/* name section */
.nameDisplay { 
    position: absolute;
    width: 200px;
}
.listStaff {
    width: 200px;
    border: 1px solid black;
}

/* time section */
.time {
    position: relative;
    margin-left: 200px;
    overflow-x: scroll;
}

.weekday {
    border: 1px solid black;
    padding-left: 10px;
    width: 800px;
}